<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_creditmemo_save_before">
        <observer name="cardpay_creditmemo_before_save_observer" instance="Cardpay\Core\Observer\RefundObserverBeforeSave"/>
    </event>
    <event name="sales_order_invoice_register">
        <observer name="cardpay_invoice_register_observer" instance="Cardpay\Core\Observer\InvoiceRegisterObserver"/>
    </event>
    <event name="order_cancel_after">
        <observer name="cardpay_order_cancel_observer" instance="Cardpay\Core\Observer\OrderCancelObserver"/>
    </event>
</config>