<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="cardpay_configurations" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Unlimit</label>
                <include path="Cardpay_Core::system/custom_checkout.xml"/>
                <include path="Cardpay_Core::system/custom_checkout_apay.xml"/>
                <include path="Cardpay_Core::system/custom_checkout_boleto.xml"/>
                <include path="Cardpay_Core::system/custom_checkout_gpay.xml"/>
                <include path="Cardpay_Core::system/custom_checkout_mbway.xml"/>
                <include path="Cardpay_Core::system/custom_checkout_multibanco.xml"/>
                <include path="Cardpay_Core::system/custom_checkout_paypal.xml"/>
                <include path="Cardpay_Core::system/custom_checkout_pix.xml"/>
                <include path="Cardpay_Core::system/custom_checkout_sepainstant.xml"/>
                <include path="Cardpay_Core::system/custom_checkout_spei.xml"/>
                <include path="Cardpay_Core::system/advanced.xml"/>
            </group>
        </section>
    </system>
</config>
