<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">

    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <!-- Unlimint Title -->
            <span data-bind="text: getTitle()"></span>

            <!-- Unlimint Logo -->
            <img data-bind="attr: {alt: 'Cardpay',src:getLogoUrl()}" class="payment-icon" alt="Unlimint" />
        </label>
    </div>

    <div class="payment-method-content">
        <div class="panel-checkout">
            <div class="row">
                <h2 class="title-checkout"><!-- ko i18n: 'Usa el medio de pago que prefieras'--><!-- /ko --></h2>

                <!-- ko if: (getInfoBanner('credit') != 0)-->
                <div class="col-md-12">
                    <div class="frame-tarjetas">
                        <p class="subtitle-checkout">
                            <!-- ko i18n: 'Tarjetas de crédito'--><!-- /ko -->
                            <span class="badge-checkout"><!-- ko i18n: 'Hasta'--><!-- /ko --> <span
                                data-bind="text: getInfoBannerInstallments()"></span>  <!-- ko i18n: 'cuotas'-->
                                <!-- /ko --></span>
                        </p>
                        <div data-bind="foreach: getInfoBannerPaymentMethods('credit')">
                            <img data-bind="attr: {src: src, alt: name}" class="img-fluid img-tarjetas" alt="Payment methods" />
                        </div>

                    </div>
                </div>
                <!--/ko-->

                <!-- ko if: (getInfoBanner('debit') != 0)-->
                <div class="col-md-6">
                    <div class="frame-tarjetas">
                        <p class="subtitle-checkout"><!-- ko i18n: 'Tarjetas de débito'--><!-- /ko --></p>
                        <div data-bind="foreach: getInfoBannerPaymentMethods('debit')">
                            <img data-bind="attr: {src: src, alt: name}" class="img-fluid img-tarjetas" alt="Payment methods"/>
                        </div>
                    </div>
                </div>
                <!--/ko-->

                <!-- ko if: (getInfoBanner('ticket') != 0)-->
                <div class="col-md-6">
                    <div class="frame-tarjetas">
                        <p class="subtitle-checkout"><!-- ko i18n: 'Pagos en efectivo'--><!-- /ko --></p>
                        <div data-bind="foreach: getInfoBannerPaymentMethods('ticket')">
                            <img data-bind="attr: {src: src, alt: name}" class="img-fluid img-tarjetas" alt="Payment methods" />
                        </div>
                    </div>
                </div>
                <!--/ko-->

                <div class="col-md-12 pt-20">
                    <div class="redirect-frame">
                        <img data-bind="attr: {alt: 'Unlimint Redirect', src: getRedirectImage()}"
                             class="img-fluid" alt="Unlimint" />
                        <p><!-- ko i18n: 'Te llevamos a nuestro sitio para completar el pago'--><!-- /ko --></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button data-role="review-save" type="submit"
                        data-bind="click: placePendingPaymentOrder, attr: {title: $t('Continue')}"
                        class="button action primary checkout">
                    <span data-bind="i18n: 'Continue'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
