<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <!-- Unlimint Logo -->
            <span data-bind="text: getTitle()"></span>
        </label>

        <!-- ko if: (existBanner() == true)-->
        <div class="class-custom-banner-checkout">
            <img data-bind="attr: {alt: 'Unlimint Banner', src: getBannerUrl()}"
                 class="payment-banner-checkout" alt="Unlimint"/>
        </div>
        <!--/ko-->
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <form class="form" id="co-cardpay-form" action="#" method="post" data-bind="mageInit: {
            'transparent':{
                'context': context(),
                'controller': getControllerName(),
                'gateway': getCode(),
                'orderSaveUrl':getPlaceOrderUrl(),
                'cgiUrl': getCgiUrl(),
                'dateDelim': getDateDelim(),
                'cardFieldsMap': getCardFieldsMap(),
                'nativeAction': getSaveOrderUrl()
            }, 'validation':[]}">

            <div id="cardpay-form">
                <div class="mp-box-inputs mp-col-100">
                    <label for="cardNumber"> <!-- ko i18n: 'Credit card number'--><!-- /ko --> <em>*</em></label>
                    <input type="text" id="cardNumber" data-checkout="cardNumber" autocomplete="off" maxlength="19"
                        minlength="13" required data-bind="event: {
                                keyup: onlyNumbersInCardNumber,
                                blur: validateCreditCardNumber
                            }"/>
                    <span class="mp-error" id="mp-error-205" data-main="#cardNumber"> <!-- ko i18n: 'Parameter cardNumber can not be null/empty'-->
                        <!-- /ko --> </span>
                    <span class="mp-error" id="mp-error-E301" data-main="#cardNumber"> <!-- ko i18n: 'Invalid Card Number'-->
                        <!-- /ko --> </span>
                </div>

                <div class="mp-box-inputs mp-col-100">
                    <label for="cardholderName"> <!-- ko i18n: 'Cardholder name'--><!-- /ko --> <em>*</em></label>
                    <input type="text" id="cardholderName" name="cardpay_custom[cardholderName]"
                           maxlength="50"
                           data-checkout="cardholderName"
                           autocomplete="off"
                           data-bind="attr: {'data-validate': JSON.stringify({required:true})}, event: { blur: validateCardHolderName }"/>

                    <span class="mp-error" id="mp-error-221" data-main="#cardholderName"> <!-- ko i18n: 'Parameter cardholderName can not be null/empty'-->
                        <!-- /ko --> </span>
                    <span class="mp-error" id="mp-error-316" data-main="#cardholderName"> <!-- ko i18n: 'Invalid CardHolder Name'-->
                        <!-- /ko --> </span>
                </div>

                <div class="mp-box-inputs mp-line">
                    <div class="mp-box-inputs mp-col-50">
                        <label for="cardExpirationMonth"> <!-- ko i18n: 'Expiration month'--><!-- /ko --> <em>*</em></label>

                        <select id="cardExpirationMonth"
                                data-checkout="cardExpirationMonth"
                                name="cardpay_custom[cardExpirationMonth]"
                                data-bind="attr: {
                                            'data-container': getCode() + '-cc-month',
                                            'data-validate': JSON.stringify({required:true})
                                        },
                                        enable: isActive($parents),
                                        options: getCcMonthsValues(),
                                        optionsValue: 'value',
                                        optionsText: 'month',
                                        optionsCaption: $t('Month'),
                                        event: { change: validateExpirationDate }">
                        </select>
                    </div>

                    <div class="mp-box-inputs mp-col-50">
                        <label for="cardExpirationYear"> <!-- ko i18n: 'Expiration year'--><!-- /ko --> <em>*</em></label>
                        <select id="cardExpirationYear"
                                data-checkout="cardExpirationYear"
                                name="cardpay_custom[cardExpirationYear]"
                                data-bind="attr: {
                                        'data-container': getCode() + '-cc-year',
                                        'data-validate': JSON.stringify({required:true})
                                    },
                                    enable: isActive($parents),
                                    options: getCcYearsValues(),
                                    optionsValue: 'value',
                                    optionsText: 'year',
                                    optionsCaption: $t('Year'),
                                    event: { change: validateExpirationDate }">
                        </select>
                    </div>

                    <span class="mp-error" id="mp-error-208" data-main="#cardExpirationMonth"> <!-- ko i18n: 'Invalid Expiration Date'--><!-- /ko --> </span>
                    <span class="mp-error" id="mp-error-325" data-main="#cardExpirationMonth"> <!-- ko i18n: 'Invalid Expiration Date'--><!-- /ko --> </span>
                    <span class="mp-error" id="mp-error-209" data-main="#cardExpirationYear"> </span>
                    <span class="mp-error" id="mp-error-326" data-main="#cardExpirationYear"> </span>
                </div>

                <div class="mp-box-inputs mp-line">
                    <div class="mp-box-inputs mp-col-50">
                        <label for="securityCode"> <!-- ko i18n: 'Security code'--><!-- /ko --> <em>*</em></label>
                        <input type="password" id="securityCode" name="securityCode" data-checkout="securityCode"
                               autocomplete="off" minlength="3" maxlength="4" required data-bind="attr: {
                                                                                    'data-validate': JSON.stringify({required:true})},
                                                                                     event: { keyup: onlyNumbersInSecurityCode, blur: validateSecurityCode }"/>

                        <span class="mp-error" id="mp-error-224" data-main="#securityCode"> <!-- ko i18n: 'Parameter securityCode can not be null/empty'-->
                            <!-- /ko -->  </span>
                        <span class="mp-error" id="mp-error-E302" data-main="#securityCode"> <!-- ko i18n: 'Invalid Security Code'-->
                            <!-- /ko -->  </span>
                    </div>
                </div>

                <div id="mp-box-installments">
                    <div class="mp-box-inputs mp-col-100" id="mp-box-installments-selector">
                        <label for="installments"> <!-- ko i18n: 'Installments'--><!-- /ko --> <em>*</em></label>
                        <select id="installments" data-checkout="installments" name="cardpay_custom[installments]"
                                required class="validate-select" data-bind="afterRender: assignInstallmentOptions"></select>
                    </div>

                    <span class="mp-error" id="mp-error-210" data-main="#installments"> <!-- ko i18n: 'Invalid number of installments'--><!-- /ko --> </span>
                </div>

                <!-- ko if: isCpfRequired() -->
                    <div class="mp-box-inputs mp-col-100">
                        <label for="cpf"> <!-- ko i18n: 'CPF'--><!-- /ko --> <em>*</em></label>
                        <input type="text" id="cpf" name="cardpay_custom[cpf]"
                               data-checkout="cpf"
                               data-format="***.***.***-**"
                               data-mask="XXX.XXX.XXX-XX"
                               placeholder="XXX.XXX.XXX-XX"
                               autocomplete="off"
                               data-bind="attr: {'data-validate': JSON.stringify({required:true})}, event: {keyup: applyInputMask, blur: validateCpf}"/>

                        <span class="mp-error" id="mp-error-E303" data-main="#cpf"> <!-- ko i18n: 'Invalid CPF'--><!-- /ko -->  </span>
                    </div>
                <!-- /ko -->
            </div>

            <div>
                <img data-bind="attr: {src: getCardBrandsLogoURL()}" alt="Credit card" width="110" height="35" style="margin-top: 15px;" />
            </div>

            <div class="mp-box-inputs mp-line">
                <!-- NOT DELETE LOADING-->
                <div class="mp-box-inputs mp-col-25">
                    <div id="mp-box-loading">
                    </div>
                </div>
            </div>

            <div class="mp-box-inputs mp-col-100" id="cardpay-utilities">
                <input type="text" id="site_id" name="cardpay_custom[site_id]"/>
                <input type="text" id="amount" name="cardpay_custom[amount]" data-bind="attr: {value: getInitialGrandTotal()}"/>
                <input type="hidden" id="campaign_id" name="cardpay_custom[campaign_id]"/>
                <input type="hidden" id="campaign" name="cardpay_custom[campaign]"/>
                <input type="text" id="paymentMethodId" name="cardpay_custom[paymentMethodId]"/>
                <input type="text" id="token" name="cardpay_custom[token]"/>
                <input type="text" id="cardTruncated" name="cardpay_custom[cardTruncated]"/>
                <input type="text" id="CustomerAndCard" name="cardpay_custom[CustomerAndCard]"/>
                <input type="text" id="MpGatewayMode" name="cardpay_custom[MpGatewayMode]" data-bind="attr: {value: getMpGatewayMode()}"/>
            </div>
        </form>

        <div data-bind="template: {afterRender: initApp()}"></div>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button data-role="review-save"
                        type="submit"
                        id="mp-custom-save-payment"
                        data-bind="
                            attr: {title: $t('Place Order')},
                            enable: (getCode() == isChecked()),
                            click: placeOrder,
                            css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        class="action primary checkout"
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
