.disabled-legend {
    float: right;
    margin-top: 12px;
    margin-right: 15px;
}

fieldset[id^="payment_cardpay"] table {
    width: 100% !important;
}

fieldset[id^="carriers_cardpay"] table {
    width: 100% !important;
}

.ul_error input{
    border:1px solid #F00!important;
    color:#F00!important;
}
.ul_error span{
    color:#F00;
}
