<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="cardpay_core_custom_provider" xsi:type="object">
                    Cardpay\Core\Model\BankCardConfigProvider
                </item>
                <item name="cardpay_core_customTicket_provider" xsi:type="object">
                    Cardpay\Core\Model\BoletoConfigProvider
                </item>
                <item name="cardpay_core_customPix_provider" xsi:type="object">
                    Cardpay\Core\Model\PixConfigProvider
                </item>
                <item name="cardpay_core_paypal_provider" xsi:type="object">
                    Cardpay\Core\Model\PaypalConfigProvider
                </item>
                <item name="cardpay_core_gpay_provider" xsi:type="object">
                    Cardpay\Core\Model\GpayConfigProvider
                </item>
                <item name="cardpay_core_sepa_provider" xsi:type="object">
                    Cardpay\Core\Model\SepaInstantConfigProvider
                </item>
                <item name="cardpay_core_spei_provider" xsi:type="object">
                    Cardpay\Core\Model\SpeiConfigProvider
                </item>
                <item name="cardpay_core_multibanco_provider" xsi:type="object">
                    Cardpay\Core\Model\MultibancoConfigProvider
                </item>
                <item name="cardpay_core_mbway_provider" xsi:type="object">
                    Cardpay\Core\Model\MbWayConfigProvider
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="cardpay_custom" xsi:type="const">Cardpay\Core\Model\Payment\BankCardPayment::CODE</item>
                <item name="cardpay_customticket" xsi:type="const">Cardpay\Core\Model\Payment\BoletoPayment::CODE</item>
                <item name="cardpay_custompix" xsi:type="const">Cardpay\Core\Model\Payment\PixPayment::CODE</item>
                <item name="cardpay_paypal" xsi:type="const">Cardpay\Core\Model\Payment\PaypalPayment::CODE</item>
                <item name="cardpay_gpay" xsi:type="const">Cardpay\Core\Model\Payment\GpayPayment::CODE</item>
                <item name="cardpay_sepa" xsi:type="const">Cardpay\Core\Model\Payment\SepaInstantPayment::CODE</item>
                <item name="cardpay_spei" xsi:type="const">Cardpay\Core\Model\Payment\SpeiPayment::CODE</item>
                <item name="cardpay_multibanco" xsi:type="const">Cardpay\Core\Model\Payment\MultibancoPayment::CODE</item>
                <item name="cardpay_mbway" xsi:type="const">Cardpay\Core\Model\Payment\MbWayPayment::CODE</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Framework\UrlInterface" type="Magento\Framework\Url"/>
</config>
