<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <cardpay_custom>
                <active>1</active>
                <useccv>1</useccv>
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <ccfields>csc,expdate,acct</ccfields>
                <model>Cardpay\Core\Model\Payment\BankCardPayment</model>
                <title translate="label">Credit card - Unlimit</title>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <payment_action>authorize</payment_action>
                <binary_mode>0</binary_mode>
                <gateway_mode>0</gateway_mode>
                <capture>1</capture>
                <installment>0</installment>
                <sandbox>1</sandbox>
                <ask_cpf>0</ask_cpf>
            </cardpay_custom>
            <cardpay_apay>
                <active>0</active>
                <model>Cardpay\Core\Model\Payment\ApayPayment</model>
                <title translate="label">Apple Pay - Unlimit</title>
                <merchant_id></merchant_id>
                <allowspecific>0</allowspecific>
                <sort_order>4</sort_order>
                <payment_action>authorize</payment_action>
                <sandbox_apay>1</sandbox_apay>
            </cardpay_apay>
            <cardpay_customticket>
                <active>0</active>
                <model>Cardpay\Core\Model\Payment\BoletoPayment</model>
                <title translate="label">Boleto - Unlimit</title>
                <allowspecific>0</allowspecific>
                <sort_order>3</sort_order>
                <payment_action>authorize</payment_action>
                <sandbox_boleto>1</sandbox_boleto>
            </cardpay_customticket>
            <cardpay_gpay>
                <active>0</active>
                <model>Cardpay\Core\Model\Payment\GpayPayment</model>
                <title translate="label">Google Pay - Unlimit</title>
                <merchant_id>googletest</merchant_id>
                <allowspecific>0</allowspecific>
                <sort_order>4</sort_order>
                <payment_action>authorize</payment_action>
                <sandbox_paypal>1</sandbox_paypal>
            </cardpay_gpay>
            <cardpay_mbway>
                <active>0</active>
                <api_access_mode>gateway</api_access_mode>
                <model>Cardpay\Core\Model\Payment\MbWayPayment</model>
                <title translate="label">Mb Way - Unlimit</title>
                <allowspecific>0</allowspecific>
                <sort_order>5</sort_order>
                <payment_action>authorize</payment_action>
                <sandbox_paypal>1</sandbox_paypal>
            </cardpay_mbway>
            <cardpay_multibanco>
                <active>0</active>
                <api_access_mode>gateway</api_access_mode>
                <model>Cardpay\Core\Model\Payment\MultibancoPayment</model>
                <title translate="label">Multibanco - Unlimit</title>
                <allowspecific>0</allowspecific>
                <sort_order>6</sort_order>
                <payment_action>authorize</payment_action>
                <sandbox_paypal>1</sandbox_paypal>
            </cardpay_multibanco>
            <cardpay_paypal>
                <active>0</active>
                <api_access_mode>gateway</api_access_mode>
                <model>Cardpay\Core\Model\Payment\PaypalPayment</model>
                <title translate="label">Paypal - Unlimit</title>
                <allowspecific>0</allowspecific>
                <sort_order>7</sort_order>
                <payment_action>authorize</payment_action>
                <sandbox_paypal>1</sandbox_paypal>
            </cardpay_paypal>
            <cardpay_custompix>
                <active>0</active>
                <model>Cardpay\Core\Model\Payment\PixPayment</model>
                <title translate="label">Pix - Unlimit</title>
                <allowspecific>0</allowspecific>
                <sort_order>8</sort_order>
                <payment_action>authorize</payment_action>
                <sandbox_boleto>1</sandbox_boleto>
            </cardpay_custompix>
            <cardpay_sepa>
                <active>0</active>
                <api_access_mode>gateway</api_access_mode>
                <model>Cardpay\Core\Model\Payment\SepaInstantPayment</model>
                <title translate="label">SEPA Instant - Unlimit</title>
                <allowspecific>0</allowspecific>
                <sort_order>9</sort_order>
                <payment_action>authorize</payment_action>
                <sandbox_paypal>1</sandbox_paypal>
            </cardpay_sepa>
            <cardpay_spei>
                <active>0</active>
                <api_access_mode>gateway</api_access_mode>
                <model>Cardpay\Core\Model\Payment\SpeiPayment</model>
                <title translate="label">SPEI - Unlimit</title>
                <allowspecific>0</allowspecific>
                <sort_order>10</sort_order>
                <payment_action>authorize</payment_action>
                <sandbox_paypal>1</sandbox_paypal>
            </cardpay_spei>
            <cardpay_oxxo>
                <active>0</active>
                <api_access_mode>gateway</api_access_mode>
                <model>Cardpay\Core\Model\Payment\OxxoPayment</model>
                <title translate="label">OXXO - Unlimit</title>
                <allowspecific>0</allowspecific>
                <sort_order>10</sort_order>
                <payment_action>authorize</payment_action>
                <sandbox_paypal>1</sandbox_paypal>
            </cardpay_oxxo>
            <cardpay>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_cancelled>cancelled</order_status_cancelled>
                <order_status_rejected>cancelled</order_status_rejected>
                <order_status_chargedback>holded</order_status_chargedback>
                <order_status_in_process>processing</order_status_in_process>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_approved>complete</order_status_approved>
                <order_status_refunded>closed</order_status_refunded>
                <order_status_in_mediation>pending</order_status_in_mediation>
                <order_status_partially_refunded>holded</order_status_partially_refunded>
                <refund_available>1</refund_available>
                <cancel_payment>0</cancel_payment>
                <use_successpage>0</use_successpage>
                <financing_cost>0</financing_cost>
                <consider_discount>0</consider_discount>
                <email_order_create>1</email_order_create>
                <email_order_update>pending,approved,in_process,in_mediation,rejected,cancelled,refunded,charged_back
                </email_order_update>
                <logs>1</logs>
                <model>Cardpay\Core\Model\Core</model>
            </cardpay>
        </payment>
    </default>
</config>
