<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <cardpay_custom>
                <active>1</active>
                <coupon_cardpay>0</coupon_cardpay>
                <useccv>1</useccv>
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <ccfields>csc,expdate,acct</ccfields>
                <model>Cardpay\Core\Model\Payment\BankCardPayment</model>
                <title translate="label">Credit Card - Unlimint</title>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <payment_action>authorize</payment_action>
                <binary_mode>0</binary_mode>
                <gateway_mode>0</gateway_mode>
                <capture>1</capture>
                <installment>0</installment>
                <sandbox>1</sandbox>
                <ask_cpf>0</ask_cpf>
            </cardpay_custom>
            <cardpay_customticket>
                <active>0</active>
                <model>Cardpay\Core\Model\Payment\BoletoPayment</model>
                <title translate="label">Boleto - Unlimint</title>
                <allowspecific>0</allowspecific>
                <sort_order>2</sort_order>
                <payment_action>authorize</payment_action>
                <coupon_cardpay>0</coupon_cardpay>
                <sandbox>1</sandbox>
            </cardpay_customticket>
            <cardpay>
                <order_status_authorized>processing</order_status_authorized>
                <order_status_cancelled>cancelled</order_status_cancelled>
                <order_status_rejected>cancelled</order_status_rejected>
                <order_status_chargeback>holded</order_status_chargeback>
                <order_status_in_process>processing</order_status_in_process>
                <order_status_pending>pending_payment</order_status_pending>
                <order_status_approved>complete</order_status_approved>
                <order_status_refunded>closed</order_status_refunded>
                <order_status_in_mediation>pending</order_status_in_mediation>
                <order_status_partially_refunded>holded</order_status_partially_refunded>
                <refund_available>1</refund_available>
                <cancel_payment>0</cancel_payment>
                <use_successpage>0</use_successpage>
                <financing_cost>0</financing_cost>
                <consider_discount>0</consider_discount>
                <email_order_create>1</email_order_create>
                <email_order_update>pending,approved,in_process,in_mediation,rejected,cancelled,refunded,charged_back</email_order_update>
                <logs>1</logs>
                <model>Cardpay\Core\Model\Core</model>
            </cardpay>
        </payment>
    </default>
</config>