#co-cardpay-form, #co-cardpay-form-ticket, #co-cardpay-form-pix {
    max-width: 400px;
}

#mp-box-form {
    width: 100%;
    max-width: 375px;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cardpay-form-general {
    float: left;
}

.mp-box-inputs {
    float: left;
}

.mp-col-10 {
    width: 10%;
}

.mp-col-20 {
    width: 20%;
}

.mp-col-30 {
    width: 30%;
}

.mp-col-40 {
    width: 40%;
}

.mp-col-50 {
    width: 50%;
    margin-top: 5px;
}

.mp-col-60 {
    width: 60%;
}

.mp-col-70 {
    width: 70%;
}

.mp-col-80 {
    width: 80%;
}

.mp-col-90 {
    width: 90%;
}

.mp-col-100 {
    width: 100%;
    margin-top: 5px;
}

.mp-col-25 {
    width: 25%;
}

.mp-col-35 {
    width: 35%;
}

.mp-col-45 {
    width: 45%;
}

.mp-col-55 {
    width: 55%;
}

.mp-col-65 {
    width: 65%;
}

.mp-col-75 {
    width: 75%;
}

.mp-line {
    width: 100%;
    margin: 5px 0;
}

.mp-box-inputs label {
    text-transform: uppercase;
    font-size: 11px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 0 5px 0;
    display: block;
}

.mp-box-inputs label em {
    color: red;
}

.mp-box-inputs input, .mp-box-inputs select {
    width: 100%;
    background-color: #fff;
    border: 1px solid #cecece;
    padding: 5px;
    border-radius: 3px;
    color: #666;
    height: 32px;
    margin-top: 0;
    max-width: unset;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

.mp-box-inputs input:focus, .mp-box-inputs select:focus {
    border: 1px solid #999;
    outline: 0;
}

.mp-box-inputs select {
    -webkit-appearance: menulist-button;
    -moz-appearance: menulist-button;
    -ms-appearance: menulist-button;
    appearance: menulist-button;
    background: no-repeat rgb(255, 255, 255);
}

.mp-box-inputs input.mp-error-input, .mp-box-inputs select.mp-error-input {
    border: 1px solid red;
}

#mp-box-loading {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: -10px 0px;
}

#mp-separete-date {
    vertical-align: middle;
    line-height: 65px;
    text-align: center;
    height: 48px;
    font-size: 24px;
    font-weight: 100;
}

#cardpay-utilities {
    display: none;
    border: 1px solid #ff9b05;
    background-color: #ffeacb;
    padding: 10px;
}

#cardpay-utilities .flag-on {
    color: red;
}

#btnSubmit {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

#btnSubmit:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

#form-ticket {
    width: 384px;
    margin-left: 8px;
    margin-right: 8px;
}

.form-row {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: -15px;
    margin-right: -15px;
}

[class^=form-col-] {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    float: left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

.form-col-1 {
    width: 8.33333333%;
}

.form-col-2 {
    width: 16.66666667%;
}

.form-col-3 {
    width: 25%;
}

.form-col-4 {
    width: 33.33333333%;
}

.form-col-5 {
    width: 41.66666667%;
}

.form-col-6 {
    width: 50%;
}

.form-col-7 {
    width: 58.33333333%;
}

.form-col-8 {
    width: 66.66666667%;
}

.form-col-9 {
    width: 75%;
}

.form-col-10 {
    width: 83.33333333%;
}

.form-col-11 {
    width: 91.66666667%;
}

.form-col-12 {
    width: 100%;
}

.form-control-mine {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 12px;
}

.mensagem-febraban {
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


[class^=form-col-] label em {
    color: red;
}

/*
*
*
* Error
*
*
*/

.mp-error {
    text-transform: uppercase;
    font-size: 10px;
    color: red;
    font-weight: bold;
    display: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    clear: both;
    float: left;
    width: 100%;
}

.erro_febraban {
    text-transform: uppercase;
    font-size: 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 8px;
    color: red;
    font-weight: bold;
    display: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    clear: both;
}

#mp-box-input-tax-tea {
    color: #666;
    font-weight: 300;
    font-size: 9px;
    display: none;
}

#mp-box-input-tax-cft {
    font-weight: 300;
    color: #666;
    font-size: 21px;
    display: none;
}

#mp-box-input-tax-cft #mp-tax-cft-text {
    padding-top: 20px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 18px;
}


/*
* BANNER
*
*/

.banner_checkout_mp {
    width: 100%;
    max-width: 400px;
}


.form-cardpay {
    padding-left: 0 !important;
}


#cardpay-ticket-form-general, .cardpay-box-form {
    float: left;
    width: 100%;
}

.form-row label {
    width: 100%;
    float: left;
}

.form-row select {
    width: 100%;
    background-color: #fff;
    border: 1px solid #cecece;
    padding: 5px;
    border-radius: 3px;
    color: #666;
    height: 30px;
    margin-top: 0;
    max-width: unset;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-appearance: menulist-button;
    -moz-appearance: menulist-button;
    -ms-appearance: menulist-button;
    appearance: menulist-button;
}

[class^=form-col-] label.require:after {
    content: ' *';
    color: #df280a;
    font-weight: normal;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 12px;
}


#CPv1-zipcode {
    width: 50% !important;
}

/* Error */
#box-banner {
    float: left;
    width: 100%;
}

.title-razao-social, .title-cnpj {
    display: none;
}


/* Bank transfer */
#cardpay-bank-transfer {
    width: 100%;
    max-width: 375px;
}


#cardpay-bank-transfer .field-error, #cardpay-bank-transfer div.mage-error[generated] {
    margin-top: -5px;
}


/* Ticket */
#cardpay-payment-methods-ticket {
    margin: 0 0 0 -30px;
}

#cardpay-payment-methods-ticket li {
    list-style: none;
}


/* Ticket */
#co-cardpay-form-ticket .field-error {
    margin-top: -10px;
}

/* Pix */
#cardpay-pix-form-general, .cardpay-box-form {
    float: left;
    width: 100%;
}

#cardpay-payment-methods-pix {
    margin: 0 0 0 -30px;
}

#cardpay-payment-methods-pix li {
    list-style: none;
}

#co-cardpay-form-pix .field-error {
    margin-top: -10px;
}

