/*
* Checkout
*/

#cardpay_checkout_custom,
#cardpay_checkout_custom_second_card {
    border: 1px solid #cccccc;
    box-sizing: border-box;
    margin: 0 0 10px;
    padding: 15px;
    width: 48%;
}

#cardpay_checkout_custom {
    float: left;
}

#cardpay_checkout_custom_second_card {
    float: right;
    position: relative;
}

#hide_second_card {
    padding: 3px 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
}

#hide_second_card:hover {
    text-decoration: none;
}

#co-cardpay-form h3, #co-cardpay-form-ticket h3 {
    margin-top: 0;
    text-transform: uppercase;
}

.use-2-cards-box {
    clear: both;
}

#cardpay_checkout_custom ul li {
    float: left;
    width: 100%;
}

#cardpay_checkout_custom ul li label {
    width: 100%;
    float: left;
}

#cardpay_checkout_custom ul li input, #cardpay_checkout_custom ul li select {
    height: 20px;
}

#cardId,
#second_card_cardId {
    background-color: #fff !important;
    background-position: 93% 50% !important;
    height: 32px !important;
}

#cardNumber,
#second_card_cardNumber {
    background-color: #fff !important;
    background-position: 98% 50% !important;
    width: 100%;
}

#securityCode, #securityCodeOCP {
    width: 53px;
}

.cvv-cardpay {
    display: inline-block;
    padding-right: 20px;
}

.cvv .field-tooltip .field-tooltip-content {
    left: -64px;
    top: 38px;
}

@media screen and (min-width: 768px) {
    .cvv .field-tooltip .field-tooltip-content:before {
        left: 64px;
        top: -20px;
        transform: rotate(90deg);
    }

    .cvv .field-tooltip .field-tooltip-content:after {
        left: 64px;
        top: -19px;
        transform: rotate(90deg);
        width: 0;
    }
}

@media screen and (max-width: 767px) {
    .cvv .field-tooltip .field-tooltip-content:before,
    .cvv .field-tooltip .field-tooltip-content:after {
        left: 64px;
        right: auto;
        top: 2px;
    }
}

.cvv .field-tooltip {
    left: 65px;
}

#doc_type__mp,
#second_card_doc_type__mp {
    display: inline-block;
    margin-right: 1px;
    margin-top: 28px;
    width: 90px;
}

#doc_number__mp,
#second_card_doc_number__mp {
    display: inline-block;
    vertical-align: top;
    width: 120px;
}

#doc_number__mp .control,
#second_card_doc_number__mp .control {
    margin-top: 28px;
}

.document-box {
    margin: 0 0 20px !important;
    position: relative;
}

.document-box label {
    display: inline-block;
    font-weight: 600;
    left: 0;
    margin: 0 0 8px;
    position: absolute;
    white-space: nowrap;
}

.document-box.required label:after {
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}

#docNumber.mage-error,
#second_card_docNumber.mage-error {
    margin-bottom: 24px;
}

#docNumber-error,
#second_card_docNumber-error {
    bottom: 0;
    position: absolute;
    left: 0;
    white-space: nowrap;
}

#box_month, #box_year {
    width: 130px;
    float: left;
}

#box_month select, #box_year select {
    width: 130px;
}

#box_month {
    margin: 0 5px 0 0;
}

#securityCodeOCP__mp {
    margin-bottom: 20px;
}

.message-error {
    display: none;
}

.message-error span {
    color: #e02b27;
    font-size: 1.2rem;
    margin-top: 7px;
}

input.has-error,
select.has-error,
textarea.has-error {
    border-color: #ed8380;
}

#cardpay_checkout_custom_ticket .form-cardpay {
    padding-left: 0;
}

.action_ocp {
    cursor: pointer;
    width: 160px;
}

#return_list_card_mp {
    display: none;
}

.cardpay-discount-options {
    margin: 0 0 20px;
}

/*
* Pagina de sucesso
*/

#mensagem_mp {
    float: left;
}

#mensagem_mp h4 {
    font-size: 18px;
}

#mensagem_mp .status {
    font-size: 14px;
}

.voltar {
    text-transform: uppercase;
}

#logo_mp {
    float: left;
    width: 100%;
    margin: 40px 0 0 0;
}

.btn-boleto {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #36A1F1;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36A1F1), color-stop(100%, #0F79C9));
    background-image: -webkit-linear-gradient(#36A1F1, #0F79C9);
    background-image: -moz-linear-gradient(#36A1F1, #0F79C9);
    background-image: -o-linear-gradient(#36A1F1, #0F79C9);
    background-image: linear-gradient(#36A1F1, #0F79C9);
    -webkit-box-shadow: inset 0 1px #97DCFF;
    box-shadow: 0 1px #97DCFF inset;
    color: #FFF !important;
    border: 1px solid #0D6FB9;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 1.25em;
    padding: 6px 12px;
    font-size: 20px;
}

#standard_banner_checkout {
    width: 100%;
    float: left;
}

@media screen and (max-width: 500px) {
    .banner_checkout_mp {
        width: 100%;
        margin: 0 0 5px 0;
    }

    .box-mes {
        width: 100%;
    }

    .box-ano {
        width: 100%;
        margin: 10px 0 0 0;
    }

    .box-mes select {
        width: 50%;
    }

    .box-ano select {
        width: 50%;
    }

    #cardpay_transparent_doc {
        width: 50%;
    }

    #status {
        margin: 0 0 10px 0;
    }

    iframe#checkout_cardpay {
        float: left;
        width: 100% !important;
    }

    .form-list.cardpay {
        float: left;
        min-width: 100%;
        width: 100%;
        margin: 0 15px 0 0;
    }
}

.msg-status {
    display: none;
}

.cardpay-message-coupon {
    margin: 5px 0 -5px 0;
    float: left;
    width: 92%;
    padding: 0;
}

.cardpay-message-coupon li {
    display: none;
}

.cardpay-coupon-action-apply, .cardpay-coupon-action-remove {
    cursor: pointer;
    float: left;
    font-size: 10px;
    border: 1px solid #cecece;
    text-transform: uppercase;
    padding: 2px 7px;
    border-radius: 5px;
    background-color: #F0F0F0;
    margin: 5px 0 0 0;
}

.cardpay-coupon-action-remove {
    display: none;
}

.cardpay-message-coupon p {
    margin: 0 0 0 0;
}

.cardpay-focus {
    color: #004098;
    font-family: Arial, serif;
    font-weight: bold;
}

.discount-ok {
    padding: 10px;
    border: 1px solid #cecece;
    background-color: #F0F0F0;
    float: left;
}

.error-installment-not-work {
    cursor: pointer;
}

.cardpay-info-discount li {
    display: block !important;
    float: left;
    width: 100%;
    margin: 0 !important;
}

/*
.cardpay-discount-options {
    display: inline-block;
}
*/

.cardpay-ticket-label {
    vertical-align: top;
}

.optionsTicketMp {
    float: left;
    margin-right: 10px;
}

.banner_checkout_mp {
    max-width: 100%;
    max-height: 100%;
}

.cft-info {
    color: #A0A0A0;
    font-weight: bold;
    font-size: 40px;
    padding: 5px;
    margin-bottom: 0 !important;
}

.tea-info {
    color: #A0A0A0;
    padding: 5px;
    margin-bottom: -12px !important;
}

.total_buy_price {
    font-weight: bold;
}

.total_buy_price:before {
    content: '$';
}

#cardpay_calculator_link {
    display: block;
    margin: 5px 0 15px;
}

#cardpay_calculator_link a,
#cardpay_calculator_link img {
    display: inline-block;
    vertical-align: middle;
}

#cardpay_calculator_link p {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 900px) {
    #cardpay_checkout_custom,
    #cardpay_checkout_custom_second_card {
        margin: 0 0 15px;
        width: 100%;
    }

    .checkout-payment-method .ccard .month .select {
        width: 135px;
    }

    .checkout-payment-method .ccard .year .select {
        width: 65px;
    }

    #second_card_docType {
        max-width: 90px;
    }
}

@media screen and (max-width: 767px) {
    #cardpay_checkout_custom,
    #cardpay_checkout_custom_second_card {
        width: 49%;
    }
}

@media screen and (max-width: 540px) {
    #cardpay_checkout_custom,
    #cardpay_checkout_custom_second_card {
        width: 100%;
    }
}


/*
*
* Basic Checkout
*
*/

.pt-20 {
    padding-top: 20px !important;
}

.row {
    width: 100%;
    display: inline-block;
}

.col-md-12 {
    width: 100%;
    display: inline-block;
    text-align: justify !important;
}

.col-md-6 {
    width: 50%;
    float: left;
    text-align: justify !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.panel-checkout {
    background-color: #fff;
    margin: -20px 0 0 0;
    padding: 0 0 20px 0;
}

.title-checkout {
    padding: 0 0 0;
    font-family: sans-serif;
    font-size: 18px !important;
    font-weight: 600 !important;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25 !important;
    letter-spacing: normal;
    color: #04204c;
    margin-bottom: 0 !important;
}

.subtitle-checkout {
    font-size: 14px !important;
    font-family: sans-serif !important;
    color: #7a7a7a;
    font-weight: 400;
    padding: 20px 0 0;
    margin: 0 0 5px !important;
    text-transform: uppercase;
}

.badge-checkout {
    font-size: 15px !important;
    font-family: sans-serif !important;
    padding: 5px 10px;
    margin-left: 5px;
    display: inline-block;
    background-color: #2ec74b;
    color: #fff;
    text-transform: none;
    border-radius: 2px;
}

.img-tarjetas {
    padding: 10px !important;
}

.redirect-frame {
    width: 100%;
    text-align: center;
    background-color: #f5f5f5;
    padding: 25px 0 20px;
    display: inline-block;
}

.redirect-frame img {
    max-width: 160px !important;
}

.redirect-frame p {
    padding-top: 15px !important;
    font-family: sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.71 !important;
    letter-spacing: normal !important;
    text-align: center !important;
    color: #333333 !important;
}

/* Card brands */
.card-brand-visa {
    background-image: url("data:image/svg+xml,%3Csvg width='54' height='35' viewBox='0 0 54 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54 32.4956C54 33.6092 53.1074 34.5 51.9917 34.5H2.00826C0.89256 34.5 0 33.6092 0 32.4956V2.50437C0 1.39083 0.89256 0.5 2.00826 0.5H51.9917C53.1074 0.5 54 1.39083 54 2.50437V32.4956Z' fill='%231A1F71'/%3E%3Cpath d='M20.5289 10.3925L14.5041 24.7478H10.562L7.58675 13.2933C7.43799 12.6239 7.21485 12.3263 6.69419 12.0288C5.80163 11.5825 4.31402 11.0619 3.04956 10.8387L3.12394 10.3925H9.44625C10.2644 10.3925 11.0082 10.9131 11.157 11.8801L12.719 20.2106L16.5868 10.4668H20.5289V10.3925ZM35.9256 20.0619C35.9256 16.2685 30.719 16.0453 30.719 14.409C30.719 13.8883 31.2396 13.3677 32.281 13.2189C32.8016 13.1445 34.2892 13.0701 35.9256 13.8883L36.595 10.8387C35.7025 10.5412 34.5868 10.1693 33.0992 10.1693C29.4545 10.1693 26.8512 12.1032 26.8512 14.9296C26.8512 17.0123 28.7107 18.128 30.1239 18.7974C31.5372 19.4668 32.0578 19.9131 32.0578 20.5825C32.0578 21.5495 30.9421 21.9958 29.8264 21.9958C27.9669 21.9958 26.8512 21.4751 26.033 21.1032L25.3636 24.2272C26.2562 24.5991 27.8182 24.971 29.4545 24.971C33.3223 24.971 35.8512 23.0371 35.9256 20.0619ZM45.595 24.7478H49.0165L46.0413 10.3925H42.8429C42.0991 10.3925 41.5041 10.8387 41.281 11.4338L35.7025 24.7478H39.5702L40.314 22.5908H45.0744L45.595 24.7478ZM41.4297 19.69L43.3636 14.3346L44.4793 19.69H41.4297ZM25.8099 10.3925L22.7603 24.7478H19.0413L22.0909 10.3925H25.8099Z' fill='white'/%3E%3C/svg%3E%0A");
    position: relative;
    padding-right: 25px;
    right: 31px;
    top: 2px;
    background-size: contain;
    background-repeat: no-repeat;
}

.card-brand-mastercard {
    background: url(../images/card_brands_sprite.png) no-repeat -227px -218px;
    position: relative;
    padding-right: 48px;
    padding-bottom: 8px;
    right: 51px;
    top: -4px;
}

.card-brand-maestro {
    background: url(../images/card_brands_sprite.png) no-repeat -227px -148px;
    position: relative;
    padding-right: 42px;
    padding-bottom: 8px;
    right: 44px;
    top: -3px;
}

.card-brand-mir {
    background: url(../images/card_brands_sprite.png) no-repeat -315px -275px;
    position: relative;
    padding-right: 50px;
    padding-bottom: 8px;
    right: 55px;
    top: 1px;
}

.card-brand-discover {
    background: url(../images/card_brands_sprite.png) no-repeat -373px -85px;
    position: relative;
    padding-right: 42px;
    padding-bottom: 8px;
    right: 46px;
    top: -5px;
}

.card-brand-amex {
    background: url(../images/card_brands_sprite.png) no-repeat -50px -5px;
    position: relative;
    padding-right: 42px;
    padding-bottom: 8px;
    right: 44px;
    top: -4px;
}

.card-brand-dinersclub {
    background: url(../images/card_brands_sprite.png) no-repeat -134px -235px;
    position: relative;
    padding-right: 90px;
    padding-bottom: 8px;
    right: 87px;
    top: -4px;
}

.card-brand-jcb {
    background: url(../images/card_brands_sprite.png) no-repeat -269px -65px;
    position: relative;
    padding-right: 42px;
    padding-bottom: 8px;
    right: 39px;
    top: -3px;
}

.card-brand-unionpay {
    background: url(../images/card_brands_sprite.png) no-repeat -318px -50px;
    position: relative;
    padding-right: 42px;
    padding-bottom: 8px;
    right: 45px;
    top: -3px;
}

.card-brand-elo {
    background: url(../images/card_brand_elo.svg) center;
    position: relative;
    padding-right: 42px;
    padding-bottom: 8px;
    right: 44px;
    top: -3px;
}